*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7c1c5434;
}
 .contact h2{
    font-size: 40px;
    color: blue;
    text-align: center;
    margin-bottom: 10px;

}
.contact form{
    width: 600px;
    text-align: center;
}
form .container{
 display: flex;
 justify-content: space-between;
}
.i .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: black;
    margin: 12px 0;
}
.i .item ::placeholder{
    color: rgba(255,255 green,255 blue,.3 alpha);
}
.container.i{
    width: 48.5%;
}
form .i .item{
    resize: none;
}
.i .error-text{
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -5px 2px 10px;
    display: none;
}
form .i .error-text{
    margin-top: -12px;
    
}
form button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #0ef;
font-size: 16px;
color: #333;
letter-spacing: 1px;
font-weight: 500;
cursor: pointer;
margin-top: 20px;
transition: .5s;
}
form button:hover{
    box-shadow: none;
    
}
